@import url('reset.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0rem 0.5rem;;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}


.Home {
    align-items: center;
}
.Pesquisa {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0rem 1rem;
    max-width: 600px;

}

.Pesquisa input {
    flex-grow: 1;
    border: solid 1px grey;
    padding: 0.5rem;
    color: gray;
    justify-content: left;
    margin: 0.5rem 0rem;
    border-radius: 5px 0px 0px 5px;

}

.Pesquisa img {
    border: solid 1px grey;
    background-color: #F8F8F8;
    padding: 0.3rem;
    border-radius: 0px 5px 5px 0px;
}

@media (max-width: 500px) {
    .Pesquisa input {
        border: solid 1px grey;
        padding: 0.6rem;
        color: gray;
        justify-content: left;
        margin: 0.5rem 0rem;
        width: 1rem;
    }
}

.Video {
    height: auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 1rem;
}
main h1 {
    height: auto;
    width: 100%;
    max-width: 1200px;
    font-size: 150%;
}
.Avaliar {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.Avaliar img {
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.Avaliar div {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;

}

.Avaliar p {
    margin: 0rem 0.5rem;
}

.Canal {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

@media (max-width: 740px) {
    .Avaliar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.Canal .Texto {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#Inscrever {
    background-color: red;
    color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 1rem
}


.grid {
    display: flex;
    flex-direction: column;
    align-self: baseline;

}

.grid ul li {
    display: flex;
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.grid ul li img {
    width: auto;
    height: 100%;
    max-width: 800px;
    flex-shrink: 1;
}

.grid ul li .Texto {
    margin: 1rem;
    align-items: left;

}

main {
    display: flex;
    justify-content: center;
}


@media (max-width: 740px) {
    main {
        display: block;

    }
}
@media (max-width: 740px) {
    .grid ul li {
        display: block;
    }   
}

@media (max-width: 740px) {
    .grid ul li img {
        display: block;
        width: 100%;
        max-width: 800px;
    }   
}

@media (min-width: 740px) {
    .grid ul li h1,p {
        font-size: small;
    }   
}

